#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	install -m 755 if-up \
		$(CURDIR)/debian/wikimedia-lvs-realserver/etc/network/if-up.d/wikimedia-lvs-realserver
	install -m 755 if-down \
		$(CURDIR)/debian/wikimedia-lvs-realserver/etc/network/if-down.d/wikimedia-lvs-realserver
